@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }

  .circle-loader {
    animation: rotate 2s linear infinite;
  }
  
  .circle-loader .path {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  .circle-loader.black .path {
    stroke: #000; /* This is black color, change it to match your design */
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}
